.container{
    text-align: center;
    
    
    padding-top: 25px;
}
.container-fluid{
    text-align: center;
    float: middle;
    
    padding-top: 25px;
}


    
.body{
    text-align: center;
 
}
.h1{
    
    padding-top: 50px;
}
.figure{
   font-family: 'Homemade Apple', cursive;
   font-size: 22pt; 
   color: rgb(42, 42, 42);
   text-align: center;
   width: 175px;
   height: auto;
   padding: 10px;
}
.figure-caption{
    
    color: rgb(42, 42, 42);
}
#footer {
    position: fixed; 
    bottom: 30px;
    left: 0;
    right: 0;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
}
    .heading{
        font-family: 'Homemade Apple', cursive;
        color: rgb(42, 42, 42);
    }
#beerGenie{
    width: 145px;
    padding-bottom: 25px;
    text-align: center;
}
.lead{
    font-family: 'Open Sans', sans-serif;
}
.styleCard
{
    font-family: 'Homemade Apple', cursive;
    font-size: 22pt; 
   color: rgb(42, 42, 42);
   text-align: center;
   /* width: 165px;
   min-width: 165px; */
}
.row{
    text-align: center;
}
.mx-auto{
    font-family: 'Open Sans', sans-serif;
}